.grid-container3 {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)); 
    gap: 20px;
    padding: 20px;
}

@media (max-width: 1600px) {
    .grid-container3 {
        grid-template-columns: repeat(3, minmax(0, 1fr)); 
    }
}

@media (max-width: 1200px) {
    .grid-container3 {
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
    }
}

@media (max-width: 800px) {
    .grid-container3 {
        grid-template-columns: repeat(1, minmax(0, 1fr)); 
    }
}

