.cart-item {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
    height: 35px;
    border-bottom: 1px solid rgb(91, 86, 86);
    /* padding: 20px; */
   /* padding: 0px 0px 20px 0px; */
   text-align: center;
   margin: 10px;
   /* padding: 10px; */
   /* box-shadow: 0 5px 16px rgb(239, 236, 236, 0.05); */
}

ul, ol {
    list-style: none; /* Usuwa domyślny styl listy */
}

ul::marker, ol::marker {
    content: ''; /* Usuwa marker poprzez ustawienie pustej treści */
}

.cart-item button {
    background-color: red;
    border: none;
    border: none;
    padding: 5px;
    width: 80px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 5px 16px rgb(239, 236, 236, 0.05);
}

.cart-item button:hover {
    /* border-radius: 5px solid white; */
    background-color: white;
    color: black;
    cursor: pointer;
}

.item-name {
    width: 50px;
}