.no-ingredients {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.place-list-form {
    list-style: none;
    margin:  auto;
    padding: 0;
    width: 90%;
    max-width: 60rem;
    color: white;
    text-align: center;
  }

.place-list-form-placeholder {
    margin-top: 100px;
    font-weight: 600;
    width: 90%;
    max-width: 60rem;
    margin: auto ;
}
  

.item-name, .item-category, .item-weight, .item-action {
    width: 20%
}

.text {
    margin-top: 30px;
    text-align: center;
    color: white;
}

.text2 {
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
    color: white;
}

.text3 {
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center;
    color: white;
}

.add-dish-forms {
    width: 500px;
    color: white;
}

.add-dish-forms2 {
    width: 400px;
    color: white;
}

.submit-button {
    background-color: rgb(12, 16, 23);
    width: 90px;
    height: 35px;;
    border: none;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid #676363;
}

.submit-button:hover {
    background-color: white;
    color: black;
}

.add-dish-forms-container {
    width: 100%;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

.input {
    border-radius: 10px;
}

.search-container {
    color: white;
    margin-top: 30px;
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-forms {
    display: flex;
    width: 600px;
    /* background-color: green; */
    justify-content: space-around;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.select {
    margin-top: 5px;
    background-color: rgb(12, 16, 23);
    outline: none;
    height: 35px;
    border-radius: 8px;
    color: white;
    padding: 0.35rem 0.45rem;
    width: 200px;
    outline: none;
}

.select:focus {
    background-color: rgb(17, 23, 33);
}

.select-category {
    font-size: 16px;
    height: 100%;
    /* background-color: aqua; */
    font-weight: 600;
    display: flex;
    
    flex-direction: column;
    justify-content: space-evenly;
}

.select2 {
    margin-top: 5px;
    background-color: rgb(12, 16, 23);
    outline: none;
    height: 35px;
    border-radius: 8px;
    color: white;
    padding: 0.35rem 0.45rem;
    width: 400px;
    outline: none;
    font-size: 15px;
    /* font-weight: 600; */
    /* font-weight: 14px; */
}

.select2:focus {
    background-color: rgb(17, 23, 33);
}

.select2-container {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

