.navbar {
  background-color: rgb(117, 148, 215);
  width: 13rem;
  height: 100vh;
  /* Fixes the navbar to the left side of the screen */
  top: 0;
  left: 0;
  color: black;
  display: flex;
  align-items: center;
  position: fixed;
}
  
  .navbar ul {
    margin: 0;
  }

  .navbar-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    height: 90vh;
    width: 100%;
    text-align: center;
    /* text-align: center; */
  }

  .navbar-list h1 {
    /* width: 80%; */
    /* margin-left: 20px; */
    font-size: 26px;
    margin-top: 150px;
    margin-bottom: 0;
    color: white;
  }

  .navbar-list hr {
    /* margin-top: 100px; */
    height: 3px;
    background-color: white;
    /* font-size: 12px; */
    /* font-weight: 800; */
    /* color: white; */
    width: 100%;
  }
  
  .navbar-item {
    text-align: center;
    /* margin-left: 20px; */
    /* text-align: start; */
    /* margin: 0 1rem; */
  }
  
  .navbar-item a {
    /* padding: 120px; */
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-item a.active {
    /* color: yellow; Podświetlenie aktywnego linku */
    text-decoration: underline;
    font-weight: bold;
  }

  .navbar-item a:hover {
    text-decoration: underline;
  }
