.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid-container {
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr);  */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
    gap: 20px; 
    padding: 20px; 
    flex-wrap: wrap;
}

.place-list-form-ingredient {
    list-style: none;
    margin:  auto;
    padding: 0;
    width: 800px;
    max-width: 60rem;
    color: white;
    text-align: center;
    gap: 10px;
    
    
  }

  .last-ingredient .cart-item-ingredient {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.place-list-form-placeholder-ingredient {
    margin-top: 100px;
    font-weight: 600;
    width: 800px;
    max-width: 60rem;
    margin: auto ;
}
  

.item-name-ingredient, .item-category, .item-weight, .item-action {
    width: 20%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-name-ingredient {
    text-align: start;
}


.ingredients-list-desc {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    padding: 10px;
    height: 45px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* border-bottom: 1px solid rgb(91, 86, 86); */
    background-color: rgb(117, 148, 215);
   text-align: center;
   /* margin: 10px; */
   transition: background-color 0.3s, color 0.3s; 
   
   
}

.ingredients-list-desc form {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

ul, ol {
    list-style: none; 
}

ul::marker, ol::marker {
    content: ''; 
}

.cart-item button {
    background-color: red;
    border: none;
    border: none;
    padding: 5px;
    width: 80px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 5px 16px rgb(239, 236, 236, 0.05);
}

.cart-item button:hover {
    
    background-color: white;
    color: black;
    cursor: pointer;
}

.item-name {
    width: 50px;
}